{% extends "base_template_listagem.html" %}
{% block header %}
    <h1>Listagem de Contas a Receber</h1>
{% endblock header %}

{% block listagem %}
    {% for conta in contas_receber %}

        <div class="card">
            <a href="{% url 'detalhes_receber' conta.id %}" class="card-header">{{ conta.descricao }}</a>
            <div class="card-body">
                <div class="card-text">
                    <div>Previsão: {{ conta.data_expectativa | date:"d/m/Y" }}</div>
                    <div>Valor: {{ conta.valor }}</div>
                    <div>
                        Situação: {% if conta.situacao == 'N' %}
                        <span class="text-danger">Em aberto</span>
                    {% elif conta.situacao == 'R' %}
                        <span class="text-success">Recebido</span>
                    {% else %}
                        <span class="text-warning">Não definida</span>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock listagem %}

{% block cadastro %}
    <div class="form-group card">
        <div class="card-header">Cadastrar nova conta:</div>

        <form action="{% url 'cadastrar_receber' %}" method="POST" class="form-g">
            {% csrf_token %}

            <label for="descricao" class="form-label">Descrição:</label>
            <textarea name="descricao" id="descricao" cols="40" rows="4" class="form-control" required></textarea>

            <label for="data_expectativa" class="form-label">Data de previsão:</label>
            <input type="date" name="data_vencimento" id="data_vencimento" class="form-control" required>

            <label for="data_pagamento" class="form-label">Data de recebimento:</label>
            <input type="date" name="data_pagamento" id="data_pagamento" class="form-control">

            <label for="valor" class="form-label">Valor da conta:</label>
            <input type="number" name="valor" id="valor" class="form-control" required>

            <label for="classificacao" class="form-label">Classificação:</label>
            <select name="classificacao" id="classificacao" class="form-control">
                {% for classif in classificacao %}
                    <option value="{{ classif.0 }}">{{ classif.1 }}</option>
                {% endfor %}
            </select>

            <label for="formapagar" class="form-label">Forma de pagamento:</label>
            <select name="formapagar" id="formapagar" class="form-control">
                {% for pagamento in formapagar %}
                    <option value="{{ pagamento.0 }}">{{ pagamento.1 }}</option>
                {% endfor %}
            </select>

            <label for="situacao" class="form-label">Situção da conta:</label>
            <select name="situacao" id="situacao" class="form-control">
                {% for sit in situacao %}
                    <option value="{{ sit.0 }}">{{ sit.1 }}</option>
                {% endfor %}
            </select>

            <div class="btn-group">
                <button type="submit" class="btn btn-outline-primary bg-light m-2">Gravar</button>
                <button type="reset" class="btn btn-outline-danger bg-light m-2">Limpar</button>
            </div>

        </form>
    </div>
{% endblock cadastro %}