{% extends "base_template_listagem.html" %}
{% block header %}
<h1>Listagem de Contas a Receber</h1>
{% endblock header %}

{% block listagem %}
{% for conta in contas_receber %}

<div class="card w-50">
	<a href="{% url 'detalhes_receber' conta.id %}" class="card-header">{{conta.descricao}}</a>
	<div class="card-body">
		<div class="card-text">
			<div>Previsão: {{conta.data_expectativa | date:"d/m/Y"}}</div>
			<div>Valor: {{conta.valor}}</div>
			<div>
				Situação: {% if conta.situacao == 'N' %}
				<span class="text-danger">Em aberto</span>
				{% elif conta.situacao == 'R' %}
				<span class="text-success">Recebido</span>
				{% else %}
				<span class="text-warning">Não definida</span>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock listagem %}

{% block cadastro %}
<form action="">gdgdfgdfgd</form>
{% endblock cadastro %}