{% extends "base_template.html" %}
{% block content %}
		<h1>Listagem de Contas a Pagar</h1>
		<a href="/">Home</a>

		{% for conta in contas_pagar %}

		<div class="listagem_contas">
			<div>
				Código: {{conta.id}} - Vencimento: {{conta.data_vencimento | date:"d/m/Y"}} - Valor: {{conta.valor}}
			</div>
			<div>
				Descrição:
				<a href="/pagar/{{conta.id}}">{{conta.descricao}}</a>
			</div>
			<div>
				Situação:
				{% if conta.situacao == 'N' %}
					<span class="sit_em_aberto">Em aberto</span>
				{% elif conta.situacao == 'P' %}
						<span class="sit_pago">Pago</span>
				{% else %}
					<span class="sit_nao_definida">Não definida</span>
				{% endif %}
			</div>
		</div>
		{% endfor %}
{% endblock %}