{% extends "base_template.html" %} {% block content %}
<h1>Listagem de Contas a Pagar</h1>

{% for conta in contas_pagar %}
<div class="card w-25">
	<a href="/pagar/{{conta.id}}" class="card-header">{{conta.descricao}}</a>
	<div class="card-body">
		<div class="card-text">
			<div>Vencimento: {{conta.data_vencimento | date:"d/m/Y"}}</div>
			<div>Valor: {{conta.valor}}</div>
			<div>
				Situação: {% if conta.situacao == 'N' %}
				<span class="text-danger">Em aberto</span>
				{% elif conta.situacao == 'P' %}
				<span class="text-success">Pago</span>
				{% else %}
				<span class="text-warning">Não definida</span>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endfor %} {% endblock %}
