{% extends "base_template.html" %} {% block content %}
<h1>Forma de Pagamento Detalhada</h1>

<!-- detalhe_conta_pagar definido no retorno da função no views.py -->
{% for forma in detalhe_forma_pagamento %}
<div class="card w-50">
  <div class="card-header">{{forma.descricao}}</div>
  <div class="card-body">
    <div class="card-text">
      <div>Sigla: {{forma.sigla}}</div>
    </div>
    <hr />
    <a href="/formaspagamento" class="btn btn-primary">Voltar</a>
    <a href="{% url 'apagar_forma_pagamento' forma.id %}" class="btn btn-danger">Apagar</a>
  </div>
</div>
{% endfor %} {% endblock %}