{% extends "base_template.html" %} {% block content %}
<h1>Total em Aberto</h1>
<div>
	<div>
		Total a pagar: <span class="text-danger">{{ total.em_aberto }}</span>
	</div>
	<div>
		Total a receber: <span class="text-success">{{ total.a_receber }}</span>
	</div>
	<div class="fw-bold">
		Previsão de saldo: {% if total.saldo > 0 %}
		<span class="badge bg-success">{{ total.saldo }}</span>
		{% elif total.saldo < 0 %} <span class="badge bg-danger">{{ total.saldo }}</span>
			{% else %}
			<span class="badge bg-warning">{{ total.saldo }}</span>
			{% endif %}
	</div>
</div>
{% endblock %}