{% extends "base_template.html" %} {% block content %}
<h1>Conta a Pagar Detalhada</h1>

<!-- detalhe_conta_pagar definido no retorno da função no views.py -->
{% for conta in detalhe_conta_pagar %}
<div class="card w-50">
	<div class="card-header">{{conta.descricao}}</div>
	<div class="card-body">
		<div class="card-text">
			<div>Vencimento: {{conta.data_vencimento | date:"d/m/Y"}}</div>
			<div>Pagamento: {{conta.data_pagamento}}</div>
			<div>Valor: {{conta.valor}}</div>
			<div>Classificação: {{conta.classificacao}}</div>
			<div>Forma de pagamento: {{conta.formapagar}}</div>
			<div>
				Situação: {% if conta.situacao == 'N' %}
				<span class="text-danger">Em aberto</span>
				{% elif conta.situacao == 'R' %}
				<span class="text-success">Recebido</span>
				{% else %}
				<span class="text-warning">Não definida</span>
				{% endif %}
			</div>
		</div>
		<hr />
		<a href="/pagar" class="btn btn-primary">Voltar</a>
	</div>
</div>
{% endfor %} {% endblock %}
