<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Conta a Pagar Detalhada</title>
	</head>
	<body>
		<h1>Conta a Pagar Detalhada</h1>
    <a href="/pagar">Voltar</a>
		<!-- detalhe_conta_pagar definido no retorno da função no views.py -->
    {% for conta in detalhe_conta_pagar %}
		<div>
			<div>Vencimento: {{conta.data_vencimento | date:"d/m/Y"}}</div>
			<div>Pagamento: {{conta.data_pagamento}}</div>
			<div>Valor: {{conta.valor}}</div>
			<div>Descrição: {{conta.descricao}}</div>
			<div>Classificação: {{conta.classificacao}}</div>
			<div>Forma de pagamento: {{conta.formapagar}}</div>
			<div>Situação: {{conta.situacao}}</div>
		</div>
    {% endfor %}
	</body>
</html>
